*{
	margin: 0;
	padding: 0;
}
body{

  margin:0px;
  background-color:rgba(128, 128, 0, 0.0862745098039216);
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  height:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;

}
#top_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1034px;
  height:82px;
}
#top {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:72px;
  display:flex;
  text-align: center
}
#bottom_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1034px;
  height:55px;
}
#bottom {
  border-width:0px;
  position:fixed;
  align:center;
  bottom:0px;
  width:1024px;
  height:45px;
  text-align: center
}
.login-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto 20px auto auto;
	z-index: 100;
	
}
.form{
	position: relative;
	z-index: 1;
	background-image: url(images/login.jpg);
	max-width: 360px;
	margin: 30px auto 100px;
	padding: 45px;
	text-align:center;
}
.form input{
	outline: none;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 15px 0 0;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button{
	text-transform: uppercase;
	outline: 0;
	background: rgba(106,0,95,0.5);
	margin: 15px 0;
	width: 100%;
	border: none;
	padding: 15px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	transition: .5s;
}
.form button:hover,.form button:active{
	background:rgba(106,0,95,1.00);
	border: none;
}
.form .message{
	margin: 15px 0 0;
	color:rgba(0,0,0,1.00);
	font-size: 12px;
}
.form .message a{
	color:rgba(106,0,95,1.00);
	text-decoration: none;
}

.instruction{
	position: absolute;
	width:600px;
	top:60px;
	left:0;

	
}
.instructionText{
	position: relative;

    background-color:rgba(128, 128, 0, 0);
	max-width:600px;
	margin: 30px auto 100px;
	padding: 20px;
	text-align:left;
}
#submit button{
	text-transform: uppercase;
	outline: 0;
	background: rgba(106,0,95,0.5);
	width: 100%;
	border: none;
	padding: 15px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	transition: .5s;
}
#submit:hover,.form button:active{
	background:rgba(106,0,95,1.00);
	border: none;
}

#welcome{
	position: absolute;
	top:100px;
	text-align: center;

}