<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<div id="top" align="center">
        <img id="top_img" class="img " src="{{url_for('static',filename = 'images/u0.svg')}}"/>
    </div>

      <!-- bottom -->
    <div id="bottom" align="center">
        <img id="bottom_img" class="img " src="{{url_for('static',filename = 'images/u1.svg')}}"/>
    </div>

    <div id="welcome" align="center">
        <a href=http://webace-i3c.com:65238/chemistry>Enter Zeolite Database</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for("logout") }}">logout</a>
        {% else %}
        <a href="{{ url_for("login_page", next = request.full_path) }}">login</a>
        {% endif %}
    </div>
</body>
</html>